{% extends "onlykiwis/html/layout.html" %} 
{% block title %}Login{% endblock %}
{% block body %}
<h1>Login</h1>
<form method="post">
  {% csrf_token %}
  <div>
    <label for="inputUsername">Username</label>
    <input name="username" id="inputUsername" placeholder="Username" required autofocus>
  </div>
  <div>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required>
  </div>
  {% if error is not None %}
  <div>
    <p>{{ error }}</p>
  </div>
  {% endif %}
  <div>
    <button type="submit">Log in</button>
  </div>
</form>
{% endblock %}
