{% extends "onlykiwis/html/layout.html" %}
{% block title %}Post - {{ post.title }}{% endblock %}
{% block body %}
  <h1 class="text-4xl pb-5">Post</h1>
  <h3 class="text-2xl">{{ post.title }}</h3>
  <h4>{{ post.subtitle }}</h4>
  <p><a class="text-linkingindigo" href="{% url 'profile' post.author.username %}">@{{ post.author.username }}</a></p>
  <div>
    <h1 class="text-4xl pb-5">Comments</h1>
    {% if user.is_authenticated %}
      <h1>Post</h1>
      <div>
        <form method="post" action="{% url 'post' post.id %}">
          {% csrf_token %}
          <div>
            <label for="inputContent">Content</label>
            <input name="content" id="inputContent" placeholder="Content" required>
          </div>
          <div>
            <button type="submit">Post</button>
          </div>
        </form>
      </div>
      {% if error is not None %}
        <p>{{ error }}</p>
      {% endif %}
      <hr>
    {% endif %}
    {% for comment in post.comments.all reversed %}
      <div class="mb-2">
        <img src="https://api.dicebear.com/7.x/lorelei-neutral/png?seed={{ comment.author.username }}" width="50">
        <p>&bull; <a class="text-linkingindigo" href="{% url 'profile' comment.author.username %}">{{ comment.content }}</a> - @{{ comment.author.username }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}